# 🔹 Python
__pycache__/
*.py[cod]
*.pyo

# 🔹 Virtual Environment
venv/
env/

# 🔹 Django
*.log
media/

# 🔹 Static files (optional)
# 🔹 Environment variables (VERY IMPORTANT)
.env

# 🔹 OS files
.DS_Store
Thumbs.db

# 🔹 VS Code
.vscode/

# 🔹 PyCharm
.idea/